body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  margin: 0;
}

a:hover {
  opacity: .7;
}

.auth {
  display: flex;
  margin-top: 80px;
}

tr td, tr th {
  height: 32px;
}

.googleMap {
  border: none;
}

.loading {
  position: absolute;
  left: 45%;
  top: 400px;
}
